.category-badge {
  background: #231683;
  color: #efeefc;
  display: inline-block;
  font-weight: 500;
  padding: 0.16rem 0.64rem;
}

.category-badge a {
  text-decoration: none;
}

.bold.category-badge {
  font-weight: 600;
}

.red.category-badge {
  background: #eb0a19;
}

.small.category-badge {
  font-size: 0.8rem;
  padding: 0.08rem 0.64rem;
}

.card-link {
  color: #050311;
  display: block;
  margin-top: 1rem;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.4s;
  transition: -webkit-box-shadow 0.4s;
  transition: box-shadow 0.4s;
  transition: box-shadow 0.4s, -webkit-box-shadow 0.4s;
  width: 100%;
}

@media (min-width: 64em) {
  .card-link {
    -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
  }
}

.card-link:hover:not(:empty) {
  -webkit-box-shadow: 0 4px 8px 0 rgba(22, 19, 19, 0.16);
          box-shadow: 0 4px 8px 0 rgba(22, 19, 19, 0.16);
}

@media (min-width: 42em) {
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-left: 1rem;
  }
}

@media (min-width: 42em) and (max-width: 63.99em) {
  .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (min-width: 64em) {
  .card-container {
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.card {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Noto Sans Thai", "Noto Sans", Helvetica, Arial, sans-serif;
  min-height: 12rem;
}

@media (min-width: 64em) {
  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 32rem;
  }
}

@media (max-width: 41.99em) {
  .featured.card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 32rem;
  }
}

@media (max-width: 41.99em) {
  .featured.card .card-image {
    -ms-flex-preferred-size: 64%;
        flex-basis: 64%;
  }
}

.card-image {
  background-color: #231683;
  background-origin: center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.card-content {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1.2rem;
  position: relative;
  width: 100%;
}

.card-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.8rem 0 3.2rem;
}

.card-time {
  bottom: 0;
  font-size: 0.8rem;
  margin-bottom: 1.2rem;
  position: absolute;
}

.category-badge {
  font-size: 0.88rem;
  margin-bottom: 0.32rem;
}

@media (min-width: 64em) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }
}

#archive-title {
  font-family: "Noto Sans Thai", "Noto Sans", Helvetica, Arial, sans-serif;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2rem;
}

@media (min-width: 42em) and (max-width: 63.99em) {
  #archive-title {
    padding: 4rem 12vw 2rem;
  }
}

@media (min-width: 64em) {
  #archive-title {
    padding-left: 16vw;
    padding-top: 4rem;
  }
}

#archive-results {
  padding: 0 2rem 2rem;
}

@media (min-width: 42em) and (max-width: 63.99em) {
  #archive-results {
    padding: 0 12vw 4rem;
  }
}

@media (min-width: 64em) {
  #archive-results {
    padding: 2rem 24vw 4rem 16vw;
  }
}
/*# sourceMappingURL=archive.css.map */