@import 'colours';

$font-drop-cap: 'Georgia', 'arundina', sans-serif;
$font-heading: 'Noto Sans Thai', 'Noto Sans', Helvetica, Arial, sans-serif;
$font-text: 'arundina', sans-serif;

$font-size-content: 1rem;

$single-padding: 1.2rem;
