@import 'master';
@import 'colours';
@import 'commons';

.category-badge {
  @extend %badge;
  font-size: 0.88rem;
  margin-bottom: 0.32rem;
}

.card-link {
  @extend %card-link;
}

.card-container {
  @extend %card-container;
}

.card {
  @extend %card;

  @include media('>=desktop') {
    flex-direction: row;
    height: auto;
  }
}

.card-image {
  @extend %card-image;
}

.card-content {
  @extend %card-content;
}

.card-title {
  @extend %card-title;
}

.card-time {
  @extend %card-time;
}

#archive-title {
  @include media('>=tablet', '<desktop') {
    padding: 4rem 12vw 2rem;
  }

  @include media('>=desktop') {
    padding-left: 16vw;
    padding-top: 4rem;
  }
  
  font-family: $font-heading;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2rem;
}

#archive-results {
  @include media('>=tablet', '<desktop') {
    padding: 0 12vw 4rem;
  }

  @include media('>=desktop') {
    padding: 2rem 24vw 4rem 16vw;
  }

  padding: 0 2rem 2rem;
}
