@import 'colours';
@import 'master';
@import 'include-media';

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#site-header-nav {
  background: $tas-colour-black;
  height: 3.2rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &-logo {
    width: 2.4rem;

    &-wrapper {
      align-items: center;
      background: $tas-colour-primary;
      display: flex;
      float: left;
      height: 4.2rem;
      justify-content: center;
      padding: 1rem;
      width: 4.2rem;
      z-index: 1000;
    }
  }
}

#site-header-menu {
  align-items: center;
  background: $tas-colour-red;
  color: $tas-colour-white;
  display: flex;
  float: right;
  font-family: $font-heading;
  font-size: 1.2rem;
  font-weight: 500;
  height: 100%;
  justify-content: center;
  padding: 0 1.6rem 0.2rem;
  transition: background-color 0.2s;
  user-select: none;

  &:hover {
    background: darken($tas-colour-red, 4);
    cursor: pointer;
  }

  &:active {
    background: darken($tas-colour-red, 8);
  }
}

#site-header-menu-content {
  background: $tas-colour-primary;
  display: none;
  margin-top: 3.2rem;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    a {
      @include media('<tablet') {
        padding: 1.2rem 2rem;
      }

      color: $tas-colour-white;
      display: block;
      font-family: $font-heading;
      font-size: 1.2rem;
      font-weight: 600;
      list-style: none;
      padding: 1.6rem 4.2rem;
      text-decoration: none;
      transition: background 0.2s;
      width: 100%;

      &:hover {
        background: darken($tas-colour-primary, 8);
      }
    }
  }
}

#site-footer {
  @include media('>=tablet', '<desktop') {
    padding: 4.2rem 12vw;
  }

  @include media('>=desktop') {
    padding: 4.2rem 16rem;
  }

  background-color: $tas-colour-almost-black;
  font-family: $font-heading;
  padding: 4rem 2rem;

  a,
  a:hover {
    border: none;
  }

  &-logo {
    height: 6.4rem;
  }

  &-tas-name {
    margin-top: 0.8rem;

    &-th {
      color: $tas-colour-white;
      font: {
        size: 1.6rem;
        weight: 600;
      }
    }

    &-en {
      color: $tas-colour-almost-white;
    }
  }

  &-socials {
    margin-top: 1.2rem;

    .icon {
      fill: $tas-colour-white;
      height: 1.6rem;
      margin-right: 1.2rem;
      width: 1.6rem;
    }
  }

  &-sitemap {
    margin-top: 1.2rem;

    &-main-links {
      font-weight: 600;

      &,
      & a {
        color: $tas-colour-white;
      }
    }

    &-other-links {
      font-weight: 400;

      &,
      & a {
        color: $tas-colour-almost-white;
      }
    }

    a {
      text-decoration: none;

      &:hover {
        background: $tas-colour-red;
      }
    }

    ul {
      padding: 0;

      li {
        display: inline-block;

        &:not(:last-child)::after {
          color: $tas-colour-red;
          content: ' / ';
          font-weight: bold;
        }
      }
    }
  }

  &-copyright {
    color: $tas-colour-white;
    font-weight: 600;
    margin-top: 1.2rem;

    &-detail {
      color: transparentize($tas-colour-white, 0.6);
      font: {
        size: smaller;
        weight: normal;
      }
      margin-top: 0.4rem;

      a {
        color: transparentize($tas-colour-white, 0.6);
        text-decoration: underline;
      }
    }
  }
}
