@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 100;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 200;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 300;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 400;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 500;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 600;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-SemiBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 700;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 800;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Noto Sans Thai';
  font-style: normal;
  font-weight: 900;
  src: url('../../assets/fonts/noto-sans-thai/NotoSansThaiUI-Black.woff2') format('woff2');
}
