@import 'master';
@import 'colours';

.wp-block-cover,
.wp-block-cover-image {
  background-size: cover;
  margin: $single-padding;
  padding: 6.4rem 1rem;

  p {
    color: white;
    filter: grayscale(1);
    mix-blend-mode: luminosity;
  }
}

.wp-block-gallery {
  display: flex;
}

.wp-block-image {
  margin: $single-padding;

  figure {
    margin: 0;
  }

  figcaption {
    background: $tas-colour-almost-black;
    color: $space-white;
    font: {
      family: $font-text;
      size: 0.8rem;
    }

    line-height: 1.2rem;
    margin-top: -0.4rem;
    padding: 1rem;
  }

  // TODO: Desktop ver
  // &.alignwide {}

  // TODO: Desktop ver
  // &.alignleft {}
}

.wp-block-pullquote {
  margin: $single-padding;
}

.alignfull {
  margin: 1rem 0;
}

.has-background {
  margin: $single-padding !important; // Inevitable !important since ID has more superiority
  padding: 1rem;
  padding-right: 0.64rem;
}

.has-drop-cap {
  &::first-letter {
    color: $tas-colour-primary;
    float: left;
    font-family: $font-drop-cap;
    font-size: 4.2rem;
    line-height: 60px;
    padding-left: 0.2rem;
    padding-right: 0.8rem;
    padding-top: 0.4rem;
  }
}

.has-parallax {
  background-attachment: fixed;
}

.has-right-content {
  text-align: right;
}

.has-small-font-size {
  font-size: 0.8rem;
  line-height: 1.2rem;
}

.has-large-font-size {
  font-size: 1.2rem;
  line-height: 1.52rem;
}

.has-larger-font-size {
  font-size: 1.6rem;
  line-height: 1.8rem;
}
